body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(126, 6, 76);
    text-align: center;
    color: #ebe3e8;
}

h1 {
    font-weight: 400;
    letter-spacing: 2px;
}

#container {
    width: 100%;
}

.team-img {
    width: 200px;
    border-radius: 10%;
    margin: 50px;
}